<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<servlet>-->
        <!--<servlet-name>AdminModifyMyInfoServlet</servlet-name>-->
        <!--<servlet-class>com.chinasofti.ordersys.servlets.admin.AdminModifyMyInfoServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet>-->
        <!--<servlet-name>CartServlet</servlet-name>-->
        <!--<servlet-class>CartServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>CartServlet</servlet-name>-->
        <!--<url-pattern>/cartServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>AdminModifyMyInfoServlet</servlet-name>-->
        <!--<url-pattern>/adminmodifymyinfo</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>